<%= render 'left_column' %>
<% form_tag batch_action_admin_albums_path, :method => :post do %>
	<div class="top-bar">
		<%= submit_tag 'Search', :style => 'display:none;' %>
		<%= hidden_field_tag 'year', params[:year] %>
		<%= submit_tag 'Unpublish', :class => 'button' %>
		<%= submit_tag 'Publish', :class => 'button' %>
		<%= submit_tag 'Delete', :class => 'button' %>
		<%= link_to 'New', new_admin_album_path, :class => 'button' %>
		<h1><%= @title %></h1>
		<div><%= @sub_title %></div>
	</div>
	<div class="select-bar">
		<div style="float:left;">
			<label><%= text_field_tag 'search_condition', params[:search_condition] %></label>
			<label><%= submit_tag 'Search', :class => 'button' %></label>
			<% unless flash[:notice].blank? %>
				<span><b><%= flash[:notice] %></b></span>
			<% end %>
		</div>
		<div style="text-align:right;">
			<%= select_tag 'read_level', options_for_select(authority_name.to_a.sort_by{|item| item[1]}) %>
			<%= submit_tag 'Set' %>
		</div>
	</div>
	<div class="listing">
		<table>
			<thead>
				<tr>
					<th class='order'><%= link_to '#', admin_albums_path %></th>
					<th class='check_box'><%= check_box_tag 'selected_all', false, false, {:onclick=>"toggle_seleced_list();"} %></th>
					<th><%= link_to 'Title', admin_albums_path(params.dup.update({:order => (params[:order]=='title asc' ? 'title desc' : 'title asc')}))%></th>
					<th><%= link_to 'Begin', admin_albums_path(params.dup.update({:order => (params[:order]=='begin_on asc'? 'begin_on desc' : 'begin_on asc')})) %></th>
					<th><%= link_to 'End', admin_albums_path(params.dup.update({:order => (params[:order]=='end_on asc'? 'end_on desc' : 'end_on asc')})) %></th>
					<th colspan="2">
						<%= link_to image_tag('admin/picture.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='pictures,asc'? 'pictures,desc' : 'pictures,asc')})) %>
					</th>
					<th colspan="2">
						<%= link_to image_tag('admin/video.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='videos,asc'? 'videos,desc' : 'videos,asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/comment.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='comments,asc'? 'comments,desc' : 'comments,asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/user.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='read_level asc'? 'read_level desc' : 'read_level asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/rating.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='rating_average asc'? 'rating_average desc' : 'rating_average asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/publish.png', :width=>'20', :height=>'20'),
												admin_albums_path(params.dup.update({:order => (params[:order]=='publish asc'? 'publish desc' : 'publish asc')})) %>
					</th>
				</tr>
			</thead>
			<tbody id='listing_body'>
				<% @albums.each_with_index{|album, index| %>
					<tr <%= index%2==1 ? "class='odd'" : nil %>>
						<td class='order'><%= index+1 %></td>
						<td class='check_box'><%= check_box_tag 'selected_id[]', album.id, checked = false %></td>
						<td class='text_column'><%= link_to h(album.title), edit_admin_album_path(album) %></td>
						<td class='date'><%= h(album.begin_on) %></td>
						<td class='date'><%= h(album.end_on) %></td>
						<td class='number'><%=  album.pictures.size == 0 ? '0' : link_to(album.pictures.size, admin_album_contents_path(album)) %></td>
						<td class='icon'><%= link_to image_tag('admin/modify.png', :width=>'16', :height=>'16'), new_admin_album_content_path(album) %></td>
						<td class='number'><%= album.videos.size == 0 ? '0' : link_to(album.videos.size, admin_album_contents_path(album)) %></td>
						<td class='icon'><%= link_to image_tag('admin/modify.png', :width=>'16', :height=>'16'), new_admin_album_content_path(album) %></td>
						<td class='icon'><%= link_to album.comments.size, admin_comments_path(:album_id => album.id) %></td>
						<td class='level'><%= authority_name.invert[album.read_level] %></td>
						<td class='icon'>
							<%= ratings_for album, :small_stars => true,
												   :remote_options => {:url => rate_admin_album_path(album, :small_stars => true)} %>
						</td>
						<td class='icon' id=<%= 'publish_'+album.id.to_s %>>
							<%= link_to_remote (album.publish==true ? image_tag('admin/publish_y.png') : image_tag('admin/publish_x.png')),
																 :url => t_publish_admin_album_path(album, :publish => album.publish==true ? false : true),
																 :method => :get %>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
<% end %>
<table class='navigation_wrap'>
	<tr>
		<td>
			<div class='per_page'>
				<% form_tag admin_albums_path, :method => :get, :id => 'change_page' do %>
					<%= hidden_field_tag 'year', params[:year] %>
					<%= hidden_field_tag 'order', params[:order] %>
					Display:
					<%= select_tag 'per_page', options_for_select(per_page_list, params[:per_page].to_i), :onchange => "$('change_page').submit();" %>
				<% end %>
			</div>
			<%= will_paginate @albums, :params => params %>
		</td>
	</tr>
</table>

