<div class="top-bar">
	<%= link_to 'New', new_admin_album_path, :class => 'button' %>
	<h1><%= @title %></h1>
	<div class="breadcrumbs"><%= @sub_title %></div>
</div>
<div class="select-bar">
  <label><input type="text" name="textfield" /></label>
  <label><input type="submit" name="Submit" value="Search" /></label>
</div>
<div class="listing">
	<table>
		<thead>
			<tr>
				<th class='order'>#</th>
				<th class='check_box'><%= check_box_tag 'select'%></th>
				<th><%= link_to 'Title', admin_albums_url(:order => 'title') %></th>
				<th><%= link_to 'Begin', admin_albums_url(:order => 'begin_on') %></th>
				<th><%= link_to 'End', admin_albums_url(:order => 'end_on') %></th>
				<th><img src="/images/admin/picture.png" width="20" height="20" /></th>
				<th><img src="/images/admin/video.png" width="20" height="20" /></th>
				<th><img src="/images/admin/comment.png" width="20" height="20" /></th>
				<th><%= link_to image_tag('admin/user.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'read_level') %></th>
				<th><%= link_to image_tag('admin/rating.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'rating_average') %></th>
				<th><%= link_to image_tag('admin/publish.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'publish') %></th>
			</tr>
		</thead>
		<tbody>
			<% @albums.each_with_index{|album, index| %>
				<tr <%= index%2==1 ? "class='odd'" : nil %>>
					<td class='order'><%= index+1 %></td>
					<td class='check_box'><%= check_box_tag 'selected_id[]', album.id, checked = false %></td>
					<td class='text_column'><%= h(album.title) %></td>
					<td class='date'><%= h(album.begin_on) %></td>
					<td class='date'><%= h(album.end_on) %></td>
					<td class='icon'><%= link_to image_tag('admin/modify.png', :width=>'16', :height=>'16'), '#' %></td>
					<td class='icon'><%= link_to image_tag('admin/modify.png', :width=>'16', :height=>'16'), '#' %></td>
					<td class='icon'><%= link_to image_tag('admin/modify.png', :width=>'16', :height=>'16'), '#' %></td>
					<td class='level'>reader</td>
					<td class='icon'><%= ratings_for album, :small_stars => true %></td>
					<td class='icon'><%= link_to (album.publish==true ? image_tag('admin/publish_y.png') : image_tag('admin/publish_x.png')), '#' %></td>
				</tr>
			<% } %>
		</tbody>
		<thead>
			<tr>
				<th class='order'>#</th>
				<th class='check_box'><%= check_box_tag 'select'%></th>
				<th><%= link_to 'Title', admin_albums_url(:order => 'title') %></th>
				<th><%= link_to 'Begin', admin_albums_url(:order => 'begin_on') %></th>
				<th><%= link_to 'End', admin_albums_url(:order => 'end_on') %></th>
				<th><img src="/images/admin/picture.png" width="20" height="20" /></th>
				<th><img src="/images/admin/video.png" width="20" height="20" /></th>
				<th><img src="/images/admin/comment.png" width="20" height="20" /></th>
				<th><%= link_to image_tag('admin/user.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'read_level') %></th>
				<th><%= link_to image_tag('admin/rating.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'rating_average') %></th>
				<th><%= link_to image_tag('admin/publish.png', :width=>'20', :height=>'20'), admin_albums_url(:order => 'publish') %></th>
			</tr>
		</thead>
	</table>
</div>
