<% render 'left_column' %>
<%  form_for :album,
						 :url => params[:from] == 'new' ? admin_albums_path : admin_album_path(@album),
						 :html => {:method => params[:from] == 'new' ? :post : :put} do |f| %>
	<div class="top-bar">
		<%= submit_tag 'Save', :class => 'button' %>
		<h1>Album detail</h1>
		<div class="breadcrumbs"><%= 'No album exists, please create one.' if params[:blank]=='true' %></div>
	</div>
	<div class="select-bar">
		<%= f.error_messages :header_message => "Invalid field!", :message => nil %>
		<table class='detail_table'>
			<tr>
				<th><%= f.label :title_label, 'Title' %></th>
				<td colspan="3"><%= f.text_field :title, :class => 'full_width' %></td>
			</tr>
			<tr>
				<th><%= f.label :title_meta_label, 'Dirname' %></th>
				<td colspan="3"><%= f.text_field :title_meta, :class => 'full_width' %></td>
			</tr>
			<tr>
				<th><%= f.label :description_label, 'Description' %></th>
				<td colspan="3"><%= f.text_area :description, :rows => 5, :class => 'full_width' %></td>
			</tr>
			<tr>
				<th><%= f.label :tag_list_label, 'Tag' %></th>
				<td colspan="3">
					<% if params[:from] == 'new' %>
						<%= f.text_field :tag_list, :class => 'full_width' %>
					<% else %>
						<%= text_field_tag 'album[tag_list]', @album.tag_list.join(', '), :class => 'full_width' %>
					<% end %>
				</td>
			</tr>
			<tr>
				<th><%= f.label :begin_on_label, 'Begin on' %></th>
				<td><%= calendar_date_select :album, :begin_on, :size => 12 %></td>
				<th><%= f.label :end_on_label, 'End on' %></th>
				<td><%= calendar_date_select :album, :end_on, :size => 12 %></td>
			</tr>
			<tr>
				<th><%= f.label :appearance_label, 'Appearance' %></th>
				<td colspan="3"><%= f.select :appearance, js_name.to_a.sort_by{|item| item[1]} %>
			</tr>
			<tr>
				<th><%= f.label :read_level_label, 'Read level' %></th>
				<td colspan="3"><%= f.select :read_level, authority_name_list.to_a.sort_by{|item| item[1]} %></td>
			</tr>
			<% unless params[:from] == 'new' %>
				<tr>
					<th><%= f.label :rating_average_label, 'Rating' %></th>
					<td colspan="3">
						<%= ratings_for @album, :remote_options => {:url => rate_admin_album_path(@album)} %>
					</td>
				</tr>
			<% end %>
			<tr>
				<th><%= f.label :publish_label, 'Publish' %></th>
				<td colspan="3">
					<%= f.radio_button :publish, true %>Yes
					 &nbsp;&nbsp;&nbsp; 
					<%= f.radio_button :publish, false %>No
				</td>
			</tr>
		</table>
	</div>
<% end %>