<div class="top-bar">
	<%= link_to 'Save', new_admin_album_path, :class => 'button' %>
	<h1><%= @title %></h1>
	<div class="breadcrumbs"><%= @sub_title %></div>
</div>

<div class="select-bar">
	<% form_for :album, :url => admin_albums_path do |f| %>
		<%= f.error_messages :header_message => "Invalid field!" %>
		<table>
			<tr>
				<td><%= f.label :title_label, 'Title' %></td>
				<td><%= f.text_field :title %></td>
			</tr>
			<tr>
				<td><%= f.label :description_label, 'Description' %></td>
				<td><%= f.text_area :description, :rows => 3 %></td>
			</tr>
			<tr>
				<td><%= f.label :begin_on_label, 'Begin on' %></td>
				<td><%= calendar_date_select :album, :begin_on, :year_range => 30 %></td>
			</tr>
			<tr>
				<td><%= f.label :end_on_label, 'End on' %></td>
				<td><%= calendar_date_select :album, :end_on, :year_range => 30 %></td>
			</tr>
			<tr>
				<td><%= f.label :appearance_label, 'Appearance' %></td>
				<td><%= f.select :appearance, [['js0', 0],['js1', 1], ['js2', 2]] %>
			</tr>
			<tr>
				<td><%= f.label :read_level_label, 'Read level' %></td>
				<td><%= f.select :read_level, [['reader', 0],['admin', 10]] %></td>
			</tr>
		</table>
		<%= submit_tag "Add" %>
	<% end %>
</div>