<% render 'admin/albums/left_column' %>
<%  form_for :content, :url => admin_album_content_path(@album, @content), :html => {:method => :put} do |f| %>
	<div class="top-bar">
		<%= submit_tag 'Save', :class => 'button' %>
		<h1>Content detail</h1>
		<div class="breadcrumbs"><%= link_to @album.title, admin_album_contents_path %></div>
	</div>
	<div class="select-bar">
		<%= f.error_messages :header_message => "Invalid field!", :message => nil %>
		<table>
			<tr>
				<td>
					<table class='detail_table'>
						<tr>
							<th><%= f.label :title_label, 'Title' %></th>
							<td><%= f.text_field :title, :class => 'full_width' %></td>
						</tr>
						<tr>
							<th><%= f.label :description_label, 'Description' %></th>
							<td><%= f.text_area :description, :rows => 5, :class => 'full_width' %></td>
						</tr>
						<tr>
							<th><%= f.label :tag_list_label, 'Tag' %></th>
							<td>
								<%= text_field_tag 'content[tag_list]', @content.tag_list.join(', '), :class => 'full_width' %>
							</td>
						</tr>
						<tr>
							<th><%= f.label :token_time_label, 'Token at' %></th>
							<td><%= calendar_date_select :content, :token_time, :size => 18 %></td>
						</tr>
						<tr>
							<th><%= f.label :read_level_label, 'Read level' %></th>
							<td><%= f.select :read_level, @authority_name_list.select{|k,v| v<=@album.read_level}.sort_by{|item| item[1]} %></td>
						</tr>
						<tr>
							<th><%= f.label :rating_average_label, 'Rating' %></th>
							<td>
								<%= ratings_for @content, :remote_options => {:url => rate_admin_album_content_path(@album, @content)} %>
							</td>
						</tr>
						<tr>
							<th><%= f.label :top_shown_label, 'Cover' %></th>
							<td>
								<%= f.radio_button :top_shown, true %>Yes
								 &nbsp;&nbsp;&nbsp; 
								<%= f.radio_button :top_shown, false %>No
							</td>
						</tr>
					</table>
				</td>
				<td id="picture_edit"><%= image_tag(@content.normal_url) %></td>
			</tr>
		</table>
	</div>
<% end %>