<% render 'admin/albums/left_column' %>
<% form_tag batch_action_admin_album_contents_path, :method => :post do %>
	<div class="top-bar">
		<%= submit_tag nil, :style => 'display:none;' %>
		<%= submit_tag 'Uncover', :class => 'button' %>
		<%= submit_tag 'Cover', :class => 'button' %>
		<%= submit_tag 'Delete', :class => 'button' %>
		<%= link_to 'Add', new_admin_album_content_path(@album), :class => 'button' %>
		<%= link_to 'Sort', sort_admin_album_contents_path(:album_id => @album), :class => 'button' %>
		<h1><%= @title %></h1>
		<div><%= @subtitle %></div>
	</div>
	<div class="select-bar">
		<div style="float:left;">picture</div>
		<div style="text-align:right;">
			<%= select_tag 'read_level', options_for_select(authority_name.to_a.sort_by{|item| item[1]}) %>
			<%= submit_tag 'Set' %>
		</div>
	</div>
	<div class="listing">
		<table>
			<thead>
				<tr>
					<th class='check_box'><%= check_box_tag 'selected_all', false, false, {:onclick=>"toggle_seleced_list();"} %></th>
					<th>Pictures</th>
					<th>Title</th>
					<th>Tags</th>
					<th>
						<%= link_to image_tag('admin/user.png', :width=>'20', :height=>'20'),
												admin_album_contents_path(params.dup.update({:order => (params[:order]=='read_level asc'? 'read_level desc' : 'read_level asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/comment.png', :width=>'20', :height=>'20'),
												admin_album_contents_path(params.dup.update({:order => (params[:order]=='comments,asc'? 'comments,desc' : 'comments,asc')})) %>
					</th>
					<th>
						<%= link_to image_tag('admin/rating.png', :width=>'20', :height=>'20'),
												admin_album_contents_path(params.dup.update({:order => (params[:order]=='rating_average asc'? 'rating_average desc' : 'rating_average asc')})) %>
					</th>
					<th>
						<%= link_to 'Order', 
									admin_album_contents_path(params.dup.update({:order => (params[:order]=='display_order asc'? 'display_order desc' : 'display_order asc')})) %>
					</th>
					<th>
						<%= link_to 'Cover', 
									admin_album_contents_path(params.dup.update({:order => (params[:order]=='top_shown asc'? 'top_shown desc' : 'top_shown asc')})) %>
					</th>
				</tr>
			</thead>
			<tbody id='listing_body'>
				<% @pictures.each_with_index{|picture, index| %>
					<tr <%= index%2==1 ? "class='odd'" : nil %>>
						<td class='check_box'><%= check_box_tag 'selected_id[]', picture.id, checked = false %></td>
						<td class='thumb'><%= link_to image_tag(picture.thumb_url), edit_admin_album_content_path(@album, picture) %></td>
						<td class='text_column'><%= h(picture.title) %></td>
						<td class='text_column'><%= h(picture.tag_list.join(', ')) %></td>
						<td class='level'><%= authority_name.invert[picture.read_level] %></td>
						<td class='icon'><%= link_to picture.comments.size, admin_comments_path(:album_id => @album.id, :content_id => picture.id) %></td>
						<td class='icon'>
							<%= ratings_for picture, :small_stars => true,
													 :remote_options => {:url => rate_admin_album_content_path(@album, picture, :small_stars => true)} %>
						</td>
						<td class='number'><%= picture.display_order %></td>
						<td class='icon'>
							<%= link_to (picture.top_shown==true ? image_tag('admin/publish_y.png') : image_tag('admin/publish_x.png')),
										admin_album_content_path(@album, picture, :content => {:top_shown => picture.top_shown==true ? false : true}),
										:method => :put %>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
<% end %>
<table class='navigation_wrap'>
	<tr>
		<td>
			<div class='per_page'>
				<% form_tag admin_album_contents_path, :method => :get, :id => 'change_page' do %>
					Display:
					<%= select_tag 'per_page', options_for_select(per_page_list, params[:per_page].to_i), :onchange => "$('change_page').submit();" %>
				<% end %>
			</div>
			<%= will_paginate @pictures, :params => params %>
		</td>
	</tr>
</table>
