<% render 'admin/albums/left_column' %>
<div class="top-bar">
	<h1>Add contents</h1>
	<div class="breadcrumbs"><%= @sub_title %></div>
</div>
<div class="subtitle-bar">picture</div>
<div class="add_content">
	<table>
		<% form_tag admin_album_contents_path do %>
			<tr>
				<td>
					<div>
						<h3>Server Folder</h3>
						<p>current image folder: public/upload</p>
						<%= hidden_field_tag 'type', 'picture' %>
						<%= hidden_field_tag 'pattern', 'local' %>
					</div>
				</td>
				<td>
					<div class='center_select'>
						<%= select_tag 'filenames', options_for_select(@filenames), {:multiple => true, :size => 15, :width => '100%'} %>
					</div>
				</td>
				<td>
					<%= submit_tag 'add' %>
				</td>
			</tr>
		<% end %>
		<tr style="height: 100px;">
			<td>
				<div>
					<h3>Local Folder</h3>
					<%= hidden_field_tag 'type', 'picture' %>
				</div>
			</td>
			<td>
				<script type='text/javascript'>
				  var swfu;
					window.onload = function () {
			    	swfu = new SWFUpload({
			      	upload_url : '<%= admin_album_contents_path_with_session_information %>',
			      	flash_url : '/javascripts/SWFUpload/swfupload.swf',
			
							// Button settings
							button_image_url: "/images/swfupload/swf_button.png",	// Relative to the Flash file
							button_width: "65",
							button_height: "29",
							button_placeholder_id: "spanButtonPlaceHolder",
							button_text: '<span class="theFont">Upload</span>',
							button_text_style: ".theFont {text-align:center; font-size:12px; color:white;}",
							button_text_left_padding: 0,
							button_text_top_padding: 6,

				      file_size_limit : '10 MB',
				      file_types : '*.jpg;*.jpeg;*.png;*.gif',
				      file_types_description : 'Web Image Files',
				      file_upload_limit : '1000',

				      file_queue_error_handler : fileQueueError,
				      file_dialog_complete_handler : fileDialogComplete,
				      upload_progress_handler : uploadProgress,
				      upload_error_handler : uploadError,
				      upload_success_handler : uploadSuccess,
				      upload_complete_handler : uploadComplete,

				      custom_settings : { upload_target : 'divFileProgressContainer' },

				      debug: false
				    });
			  	};
				</script>
				<% form_tag admin_album_contents_path do %>
					<table style="padding:0 13px;">
						<tr>
							<td><span id="spanButtonPlaceHolder"></span></td>
							<td><div id="divFileProgressContainer"></div></td>
						</tr>
					</table>
				<% end %>
			</td>
		</tr>
	</table>
</div>