<% content_for :head_include do %>
	<%= cooliris_feed %>
	<% case @album.appearance
	when 0 %>
		<%= shadowbox_script %>
	<% when 3 %>
		<%= javascript_include_tag '/effects/simpleviewer/swfobject' %>
	<% end
end %>

<%= render 'left_column' %>
<h3>
	<%= h(@album.title) %>
	<span>
		<% if @album.begin_on != @album.end_on %>
			<%= h(@album.begin_on.to_s) %> ~ <%= h(@album.end_on.to_s) %>
		<% else %>
			<%= h(@album.begin_on) %>
		<% end %>
	</span>
</h3>

<table>
	<tr>
		<td class="span-11">Tags:&nbsp;&nbsp;&nbsp;<%= @album.tag_list.join(', ') %></td>
		<td class="span-5">
			<table class="rating"><tr><td>Rating:</td><td><%= ratings_for @album, :remote_options => {:url => rate_admin_album_path(@album)} %></td></tr></table>
		</td>
		<td class="span-3 last"><%= link_to pluralize(@album.comments.size, 'Comment'), '#comment_list' %></td>
	</tr>
	<tr><td colspan="3">Description: <%= @album.description %></td></tr>
</table>

<% case @album.appearance
when 0 %>
	<%= render 'appearance_js0' %>
<% when 1 %>
	<%= render 'appearance_js1' %>
<% when 2 %>
	<%= render 'appearance_js2' %>
<% when 3 %>
	<%= render 'appearance_js3' %>
<% end %>

<%= render 'comments', :object => @album.comments, :commentable_type => 'album' %>



