<% content_for :head_include do %>
	<% case @album.appearance
	when 0 %>
		<%= javascript_include_tag :defaults %>
		<%= cooliris_feed %>
		<%= shadowbox_script %>
	<% when 1, 2 %>
		<%= javascript_include_tag :defaults %>
	<% when 3 %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag '/effects/simpleviewer/swfobject' %>
	<% when 4 %>
		<%= javascript_include_tag "/effects/noobSlide/mootools-1.2-core.js" %>
		<%= javascript_include_tag "/effects/noobSlide/_class.noobSlide.packed.js" %>
		<script type="text/javascript">
			window.addEvent('domready',function(){
				var pictureObjectItems =[
					<% @pictures.each_with_index do |picture, index| %>
						{title:'<%= picture.title %>', link:'<%= url_for(:controller => :contents, :action => :show, :dirname => @album.dirname, :content_name => picture.filename) %>'}<%= ',' unless index == @pictures.size-1 %>
					<% end %>
				];
				var info = $('js4_box').getNext().set('opacity',0.5);
				var nS = new noobSlide({
					mode: 'vertical',
					box: $('js4_box'),
					items: pictureObjectItems,
					size: 500,
					handles: $$('#js4_handles div'),
					handle_event: 'mouseenter',
					fxOptions: {
						duration: 1000,
						transition: Fx.Transitions.Back.easeOut,
						wait: false
					},
					onWalk: function(currentItem,currentHandle){
						info.empty();
						new Element('h4').set('html','<a href="'+currentItem.link+'"><%= t(%q|custom_msg_2|) %></a>'+currentItem.title).inject(info);
						this.handles.set('opacity',0.3);
						currentHandle.set('opacity',1);
					}
				});
				//walk to next item
				nS.next();
			});
		</script>
	<% end
end %>

<%= render 'left_column' %>
<h3>
	<%= h(@album.title) %>
	<span>
		<% if @album.begin_on != @album.end_on %>
			<%= h(@album.begin_on.to_s) %> ~ <%= h(@album.end_on.to_s) %>
		<% else %>
			<%= h(@album.begin_on) %>
		<% end %>
	</span>
</h3>

<table>
	<tr>
		<td class="span-11"><%= t('tags') %>:&nbsp;&nbsp;&nbsp;<%= @album.tag_list.join(', ') %></td>
		<td class="span-5">
			<table class="rating"><tr><td><%= t('rating') %>:</td><td><%= ratings_for @album, :remote_options => {:url => rate_admin_album_path(@album)} %></td></tr></table>
		</td>
		<td class="span-3 last"><%= link_to ("<span id='comment_num'>#{@album.comments.size}</span>" + t('comments_link')), '#comment_list' %></td>
	</tr>
	<tr><td colspan="3"><%= t('description') %>: <%= @album.description %></td></tr>
</table>

<% case @album.appearance
when 0 %>
	<%= render 'appearance_js0' %>
<% when 1 %>
	<%= render 'appearance_js1' %>
<% when 2 %>
	<%= render 'appearance_js2' %>
<% when 3 %>
	<%= render 'appearance_js3' %>
<% when 4 %>
	<%= render 'appearance_js4' %>
<% end %>

<%= render 'comments', :object => @album.comments, :commentable_type => 'album' %>



