<% content_for :head_include do %>
	<%= javascript_include_tag "/effects/noobSlide/mootools-1.2-core.js" %>
	<%= javascript_include_tag "/effects/noobSlide/_class.noobSlide.packed.js" %>
	<script type="text/javascript">
		window.addEvent('domready',function(){
			var nS2 = new noobSlide({
				box: $('top_noobbox'),
				items: [<%= (0..(@top_pictures.size-1)).to_a.join(",") %>],
				interval: 3000,
				size: 620,
				autoPlay: true,
				fxOptions: {
					duration: 1000,
					transition: Fx.Transitions.Bounce.easeOut,
					wait: false
				}
			});
		});
	</script>
	<!-- Top page rss feed -->
	<link rel="alternate" href=<%= '"' + top_rss_path + '"' %> type="application/rss+xml"/>
<% end %>

<div class="span-4">
	<%= top_page_year_range(@layout_year_range) %>
</div>

<div class="span-19 last">
	<div id="top_noobslide">
		<div id="top_noobbox">
			<% @top_pictures.each do |picture| %>
				<div class="top_cell">
					<div><%= image_tag(picture.normal_url, :alt => 'Photo') %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>
