<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
	<head>
		<title>Simpic</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'top' %>
		<%= javascript_include_tag "/effects/glider/glider" %>
		<%= stylesheet_link_tag '/effects/glider/glider' %>
	</head>

	<body>
		<div>
			<div id="header">
 				<div id="logo"><h1><%= @app_name %></h1></div>
				<div class="clear"></div>
			</div>
		</div>

		<div>
			<table id="main">
				<tr>
					<td id="left">
						<div id="password_field" class="banner">
							<% if current_user.blank? %>
								<% form_tag login_admin_users_path, :method => "post" do %>
									<%= password_field_tag :password, nil %>
									<%= submit_tag 'Login' %>
								<% end %>
							<% elsif session[:user_read_level] == 0 %>
								<%= link_to 'Admin', admin_albums_path %>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<%= link_to 'Logout', logout_admin_users_path(:id => session[:user_id]) %>
							<% else %>
								Welcome! <%= h(current_user.name) %>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<%= link_to 'Logout', logout_admin_users_path(:id => session[:user_id]) %>
							<% end %>
						</div>
						<div id="latest" class="banner">
							<h3>Latest</h3>
							<ul>
								<% @latest.each{|album| %>
									<li><%= link_to album.title, url_for(:controller => :albums, :action => :show, :dirname => album.dirname) %></li>
								<% } %>
							</ul>
						</div>
						<% unless @top_rated[0].rating_average == 0 %>
							<div id="top_rated" class="banner">
								<h3>Top rated</h3>
								<ul>
									<% @top_rated.each{|album|
										break if album.rating_average == 0 %>
										<li><%= link_to album.title, '#' %></li>
									<% } %>
								</ul>
							</div>
						<% end %>
					</td>
					<td id="center">
						<div id="my-glider">
							<div class="controls">
								<table>
									<tr>
										<td>
											<a href="#recent_cover" class="active" onclick="document.getElementById('all_link').className='';this.className='active';" id="new_link">NEW!</a>
										</td>
										<td>
											<a href="#all_cover" onclick="document.getElementById('new_link').className='';this.className='active';" id="all_link">ALL</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="scroller">
								<div class="content">
									<div class="section" id="recent_cover">
										<div id="container" width="480" height="400"><a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this rotator.</div>
										<script type="text/javascript" src="/effects/JW_image_rotator/swfobject.js"></script>
										<script type="text/javascript">
											var s1 = new SWFObject("/effects/JW_image_rotator/imagerotator.swf","rotator", "400","300","7");
											s1.addParam("allowfullscreen","true");
											s1.addVariable("file", <%= '"' + url_for(:controller => :albums, :action => :top_shown_new, :only_path => false) + '"' %>);
											s1.addVariable("width","400");
											s1.addVariable("height","300");
											s1.addVariable("screencolor", "0x141414");
											s1.addVariable('repeat', 'true');
											s1.addVariable('shownavigation', 'false');
											s1.addVariable('rotatetime', '4');
											s1.write("container");
										</script>
									</div>
									<div class="section" id="all_cover">
										<object id="o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="480" height="400">
											<param name="movie" value="http://apps.cooliris.com/embed/cooliris.swf" />
											<param name="flashvars" value=<%= '"feed=' + url_for(:controller => :albums, :action => :top_shown_all, :only_path => false) + '"' %> />
											<param name="allowFullScreen" value="true" />
											<param name="allowScriptAccess" value="always" />
											<embed type="application/x-shockwave-flash" src="http://apps.cooliris.com/embed/cooliris.swf" width="480" height="400" flashvars=<%= '"feed=' + url_for(:controller => :albums, :action => :top_shown_all, :only_path => false) + '"' %> allowFullScreen="true" allowScriptAccess="always"></embed>
										</object>
									</div>
								</div>
							</div>
						</div>
						<script type="text/javascript"> var my_glider = new Glider('my-glider', {duration:0.5}); </script>
					</td>
					<td id="right">
						<div id="copyright" class="banner">
							Copyright(c) <%= @copy_year_string %> All Rights Reserved.
						</div>
						<div id="updated" class="banner">
							<h3>Updated</h3>
							<ul>
								<% @updated.each{|album| %>
									<li><%= link_to album.title, '#' %></li>
								<% } %>
							</ul>
						</div>
						<div id="recent_comments" class="banner">
							<h3>Recent comments</h3>
							<ul>
								<li><a href="#">xxxxxxxxxxxxxxxx</a></li>
								<li><a href="#">xxxxxxxxxxxxxxxx</a></li>
								<li><a href="#">xxxxxxxxxxxxxxxx</a></li>
								<li><a href="#">xxxxxxxxxxxxxxxx</a></li>
								<li><a href="#">xxxxxxxxxxxxxxxx</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
			<div id="album_link">
				<ul>
					<% @year_range.each{|year| %>
						<li><%= link_to year, url_for(:controller => :albums, :action => :show, :year => year) %></li>
					<% } %>
				</ul>
			</div>
		</div>
		<div id='footer'>
			Powered by <%= link_to 'SimPic', "http://github.com/boblu/simpic/tree/master" %>
		</div>
	</body>
</html>