<% render 'left_column' %>
<%  form_for :user,
						 :url => params[:from] == 'new' ? admin_users_path : admin_user_path(@user),
						 :html => {:method => params[:from] == 'new' ? :post : :put} do |f| %>
	<div class="top-bar">
		<%= submit_tag 'Save', :class => 'button' %>
		<h1>User detail</h1>
	</div>
	<div class="select-bar">
		<%= f.error_messages :header_message => "Invalid field!", :message => nil %>
		<table class='detail_table'>
			<tr>
				<th><%= f.label :password_label, 'Password' %></th>
				<td colspan="3"><%= f.text_field :password, :class => 'full_width' %></td>
			</tr>
			<tr>
				<th><%= f.label :name_label, 'Name' %></th>
				<td colspan="3"><%= f.text_field :name, :class => 'full_width'  %></td>
			</tr>
			<tr>
				<th><%= f.label :read_level_label, 'Read level' %></th>
				<td colspan="3">
					<% if params[:from] == 'new' %>
						<%= f.select :read_level, authority_name.select{|k,v| k!="guest"}.sort_by{|item| item[1]}, {:selected => authority_name['reader']}, {:onchange => "set_admin_timespan();"} %>
					<% else
						admin_users = User.find_all_by_read_level(0)
						if admin_users.size == 1 and admin_users[0].id == current_user.id %>
							Create another admin before changing this field.
						<% else %>
							<%= f.select :read_level, authority_name.to_a.sort_by{|item| item[1]}, {}, {:onchange => "set_admin_timespan();"} %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<tr>
				<th><%= f.label :span_label, 'Time span' %></th>
				<td colspan="3">
					<% if params[:from] == 'new' %>
						<%= f.select :span, time_span_list.to_a.sort_by{|item| item[1]} %>
					<% else
						if admin_users.size == 1 and admin_users[0].id == current_user.id %>
							Create another admin before changing this field.
						<% else %>
							<%= @user.span != 0 ? h(@user.span)+ ' m' : 'None' %>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= check_box_tag "user[reset_span]",
																"true",
																false,
																{:onchange => "toggle_timespan_right();", :disabled => (@user.read_level==0 ? true : false)} %>
							Reset to
							<%= f.select :span, time_span_list.to_a.sort_by{|item| item[1]}, {}, {:disabled => true} %>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
<% end %>