<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
	<head>
		<title>Admin</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'simpic' %>
		<%= stylesheet_link_tag 'admin' %>
		<%= ajaxful_rating_style %>
		<%= calendar_date_select_includes "silver" %>
	</head>

<body>
<div id="main">
	<div id="header">
		<a href="index.html" class="logo"><img src="/images/admin/logo.gif" width="101" height="29" alt="" /></a>
		<ul id="top-navigation">
			<li class="active"><span><span>Albums</span></span></li>
			<li><span><span><a href="#">Comments</a></span></span></li>
			<li><span><span><a href="#">Users</a></span></span></li>
		</ul>
	</div>
	<div id="middle">
		<div id="left-column">
			<a href="#" class="link">Frontpage</a>
			<a href="#" class="link">Logout</a>
			<h3>All</h3>
			<ul class="nav">
				<% Album.year_range.each_with_index{|year, index| %>
					<li><%= link_to year, '#' %></li>
				<% } %>
			</ul>

		</div>
		<div id="center-column">
			<div class="top-bar">
				<a href="#" class="button">ADD NEW </a>
				<h1>Contents</h1>
				<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
			</div><br />
		  <div class="select-bar">
		    <label>
		    <input type="text" name="textfield" />
		    </label>
		    <label>
			<input type="submit" name="Submit" value="Search" />
			</label>
		  </div>
			<div class="listing">
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Picture</th>
							<th>Video</th>
							<th>Comments</th>
							<th>Appearance</th>
							<th>Level</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td class="first_column">- Lorem Ipsum </td>
						<td>2008.10.09 ~ 2009.01.01</td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr class="bg">
						<td class="first style2">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr>
						<td class="first style3">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr class="bg">
						<td class="first style1">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr>
						<td class="first style2">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr class="bg">
						<td class="first style3">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					<tr>
						<td class="first style4">- Lorem Ipsum </td>
						<td><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
						<td><img src="/images/admin/hr.gif" width="16" height="16" alt="" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td><img src="/images/admin/edit-icon.gif" width="16" height="16" alt="edit" /></td>
						<td><img src="/images/admin/login-icon.gif" width="16" height="16" alt="login" /></td>
						<td><img src="/images/admin/save-icon.gif" width="16" height="16" alt="save" /></td>
						<td class="last"><img src="/images/admin/add-icon.gif" width="16" height="16" alt="add" /></td>
					</tr>
					</tbody>
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Picture</th>
							<th>Video</th>
							<th>Comments</th>
							<th>Appearance</th>
							<th>Level</th>
							<th>Rating</th>
						</tr>
					</thead>
				</table>
				<div class="select">
					<strong>Other Pages: </strong>
					<select>
						<option>1</option>
					</select>
			  </div>
			</div>
		  <div class="table">
				<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
				<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
				<table class="listing form" cellpadding="0" cellspacing="0">
					<tr>
						<th class="full" colspan="2">Header Here</th>
					</tr>
					<tr>
						<td class="first" width="172"><strong>Lorem Ipsum</strong></td>
						<td class="last"><input type="text" class="text" /></td>
					</tr>
					<tr class="bg">
						<td class="first"><strong>Lorem Ipsum</strong></td>
						<td class="last"><input type="text" class="text" /></td>
					</tr>
					<tr>
						<td class="first""><strong>Lorem Ipsum</strong></td>
						<td class="last"><input type="text" class="text" /></td>
					</tr>
					<tr class="bg">
						<td class="first"><strong>Lorem Ipsum</strong></td>
						<td class="last"><input type="text" class="text" /></td>
					</tr>
				</table>
	        <p>&nbsp;</p>
		  </div>
		</div>
	</div>
	<div id="footer"></div>
</div>

		<div>
			<%= yield :layout %>
		</div>

</body>

</html>