<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
	<head>
		<title><%= @app_name %></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

		<!-- Include BluePrint style -->
		<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->

		<%= simpic_rating_style %>
		<%= stylesheet_link_tag 'simpic' %>
		<%= yield :head_include %>
	</head>
	<body>
		<div class="container">
			<div class="span-24 header">
				<div class="span-24">
					<div class="span-8"><h1 class="title"><%= link_to @layout_app_name, get_named_locale_path_or_url('root_path') %></h1></div>
					<div id="count_down_timer" class="span-8">
						<% if (current_read_level == 50) or current_user.span == -100 %>
							&nbsp;
						<% else %>
							<ul class="countdown">
								<li><div class="countdown_num" id="countdown_hour"></div><div><%= t('hours') %></div></li>
								<li><div class="countdown_num" id="countdown_min"></div><div><%= t('minutes') %></div></li>
								<li><div class="countdown_num" id="countdown_sec"></div><div><%= t('seconds') %></div></li>
							</ul>
							<script type="text/javascript">countdown(<%= current_user.end_time.to_i %>);</script>
						<% end %>
					</div>
					<div class="span-8 last">
						<div class="locals">
							<%= link_to 'English', get_root_path(:en), :class => ('active' if I18n.locale == :en) %> | 
							<%= link_to '中文', get_root_path(:cn), :class => ('active' if I18n.locale == :cn) %>
						</div>
						<div class="authenticate_hoder" >
							<% unless flash[:error].blank? %>
								<div class="error"><%= flash[:error] %></div>
							<% end %>
						</div>
						<div class="authenticate"><%= authenticate_header %></div>
					</div>
				</div>
				<div class="span-8"><%= render_news("latest", @layout_latest) %></div>
				<div class="span-8"><%= render_news("top_rated", @layout_rated) %></div>
				<div class="span-8 last"><%= render_news("updated", @layout_updated) %></div>			
			</div>
			<% if params[:action] == "top" %>
				<div class="span-24 top_main"><%= yield :layout %></div>
			<% else %>
				<div class="span-24 main">
						<div class="span-5 year_list_detail"><%= yield :left_column %></div>
						<div class="span-19 last main_content"><%= yield :layout %></div>
				</div>
			<% end %>
			<div class="span-24 footer">
				<div class="span-16 border top_comments">
					<h4><%= t('recent_comments') %></h4>
					<%= recent_comments(@layout_comments) %>
				</div>
				<div class="span-7 last meta">
					<p>Copyright(c) <%= @layout_copyright %> All Rights Reserved.</p>
					<p>Powered by <strong><%= link_to 'SimPic', "http://github.com/boblu/simpic/tree/master" %></strong></p>
				</div>
			</div>
		</div>
	</body>
</html>